.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.bg-theme-color{
    background-color: var(--main-theme-color);
}

.bg-theme-lighter{
    background-color: var(--lighter-or-lower-color)
}

.text-theme-color{
    color:var(--main-theme-color)
}

.bg-main-box{
    background-color: var(--main-boxes-color);
}

.border-theme-color{
    border-color: var(--main-theme-color);
}

.bg-black-white{
    background-color:var(--theme-text-color);
}

.text-light-mode-opposite-color{
    color:var(--text-opposite-color);
}

.fill-theme-color{
    fill: var(--main-theme-color);
}

.bg-theme-darker{
    background-color: var(--secondary-boxes-color);
}